%h1 All Parts
%table.table.table-striped
	%thead
		%tr
			%th Part
			%th Description
			%th # Attributes
	%tbody
	- @parts.each do |part|
		%tr
			%td= link_to part.number, part_path(part)
			%td= part.description
			%td= part.part_traits.count