// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trait-groups{
	margin-bottom: 16px;
}

#new-trait-group-btn{
	margin-left: 10px;
}

#trait-group-label{
	font-weight: bold;
	font-size: 1.1em;
}